/* HEADER */
* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
}

.menu {
    width: auto;
    overflow: hidden;
}

.menu > li {
    /*width: 20%; !*20*5=100%*!*/
    float: left;
    text-align: center;
    line-height: 40px;
    padding: 10px 15px 10px 15px; /* 상 우 하 좌 */
}

.menu a {
    font-weight: bold;
    color: black;
}

.submenu > li {
    line-height: 50px;
    background-color: #94a9ff;
}

.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.menu > li:hover {
    background-color: #94a9ff;

    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 150px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

/* HEADER */

/* MAIN CONTENTS */
/* - 베스트 셀링 상품 */
.best-selling-product {
    display: flex;
    padding: 5% 5% 5% 10%;
}
.best-selling-product .best-selling-product-text {
    width: 50%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

/* - 간단한 설명이 포함된 컨텐츠 */
.simple-contents {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px;
}

.simple-contents .item-box {
    width: 33%;
    text-align: center;
}

.simple-contents .item-box .item-box-img {
    padding-left: 20%;
    padding-right: 20%;
}

.simple-contents .item-box .item-box-img .image {
    width: 90%;
    height: auto;
}

.simple-contents .item-box .item-box-text {
    padding-left: 30%;
    padding-right: 20%;
    text-align: left;
    line-height: 0.8em;
}

.product-rating {
    width: 100%;
    display: flex;
}
/* MAIN CONTENTS */

/* FOOTER */
.footer {
    text-align: center;
    align-items: center;
    padding: 80px;
    margin-top: 50px;
    background: black;
    color: white;
}

/* FOOTER */